*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background: white;
}

.container {
  background: #F7F7F7;
}

@-webkit-keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
}

.title-first {
  color: #FFFFFF;
  margin-bottom: 5rem;
}
.title-first__main {
  display: block;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation-name: rightToLeft;
          animation-name: rightToLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.title-secondary {
  display: inline-block;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
}
.paragraph_center {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-60px {
  margin-bottom: 6rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  background-color: white;
  border-radius: 5rem;
  padding: 1.5rem 4rem;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.6) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: white;
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 5rem;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animation {
  -webkit-animation: btnToUp 0.5s ease-out 0.7s;
          animation: btnToUp 0.5s ease-out 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #BA8554;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #BA8554;
  display: inline-block;
  transition: all 0.5s;
}
.btn-text:hover {
  background: #BA8554;
  color: #FFFFFF;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 16rem;
  left: 5rem;
  z-index: 3;
}
.composition__photo_n2 {
  top: 7rem;
  right: 0;
  z-index: 2;
}
.composition__photo_n3 {
  top: 0rem;
  left: 0rem;
  z-index: 1;
}
.composition__photo:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.card {
  display: flex;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.card__icon {
  height: 6.3rem;
  width: 6.3rem;
  margin-bottom: 2.5rem;
}
.card:hover {
  transform: translateY(-1.5rem);
}

.card-tour {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.card-tour__side {
  height: 50rem;
  color: white;
  transition: all 0.7s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  overflow: hidden;
}
.card-tour__side_front {
  background: #FFFFFF;
}
.card-tour__side_back {
  background: linear-gradient(120deg, #ba8554 0.03%, #a14f03 99.94%);
  transform: rotateY(180deg);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  height: 21rem;
  border-radius: 0.3rem;
}
.card-tour__img_1 {
  background: #BA8554 url(../img/tour-card-1.jpg) center/cover no-repeat;
}
.card-tour__img_2 {
  background: #BA8554 url(../img/tour-card-2.jpg) center/cover no-repeat;
}
.card-tour__img_3 {
  background: #BA8554 url(../img/tour-card-3.jpg) center/cover no-repeat;
}
.card-tour__title {
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  right: 0rem;
  top: 17rem;
  font-weight: 100;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.2rem;
}
.card-tour__span {
  background: linear-gradient(90deg, #ba8554 0.03%, #a14f03 99.94%);
  padding: 1rem 2rem;
}
.card-tour__span_1 {
  padding-bottom: 0rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.3rem;
  right: 0rem;
  padding-top: 0rem;
}
.card-tour__desc ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.card-tour__desc ul li {
  display: inline-block;
  color: #777777;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  border-bottom: 0.1rem solid #777777;
}
.card-tour__desc ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.card-tour__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  margin-bottom: 8rem;
  text-transform: uppercase;
  text-align: center;
}
.card-tour__text_1 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
}
.card-tour__text_2 {
  font-weight: 500;
  font-size: 6rem;
  line-height: 7.2rem;
  letter-spacing: 0.2rem;
}

.feedBack-card {
  width: 75%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(330deg);
}
.feedBack-card > * {
  transform: skewX(-330deg);
}
.feedBack-card__img {
  height: 15rem;
  width: 15rem;
  background: green;
  float: left;
  border-radius: 100rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedBack-card__img img {
  width: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedBack-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.2rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__content-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.section-about {
  padding-top: 8rem;
}

.section-cards {
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/background-section-two.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  padding: 21rem 0;
}

.section-feedBack {
  padding-top: 8rem;
}/*# sourceMappingURL=style.css.map */