.footer
    padding-top: 8rem
    padding-bottom: 5rem
    background: #333333
    @include respond(tab-port)
        padding-top: 4rem
        padding-bottom: 2rem
    &__logo
        height: 15rem
        width: 12rem
        margin-bottom: 5rem
    &__list
        list-style: none
        display: flex
        justify-content: center
        @include respond(tab-port)
            flex-direction: column
            text-align: center
    &__list-item
        transition: all .3s
        &:hover
            transform: rotate(5deg) scale(1.2)
        &:not(:last-child)
            margin-right: 5rem
        @include respond(tab-land)
            &:not(:last-child)
                margin-right: 1.6rem
        @include respond(tab-port)
            margin-right: 0rem !important
            &:not(:last-child)
                margin-bottom: 2rem
    &__item-link
        &:link, &:visited
            text-decoration: none
            text-transform: uppercase
            font-weight: 300
            font-size: 1.6rem
            letter-spacing: .2rem
            color: $color-white
            @include respond(tab-port)
                font-size: 3rem
        &:hover
            color: $color-brown-darck