.book
    height: 50rem
    background: linear-gradient(110deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 55%, rgba(186,133,84,0.4) 55%, rgba(186,133,84,0.4) 100%), url(../img/form-photo.jpg) center / cover no-repeat
    box-shadow: $box-shadow
    border-radius: .5rem
    overflow: hidden

.form
    width: 60%
    padding: 5rem 0rem 0rem 5rem