.card-tour
    height: 50rem
    perspective: 150rem
    -moz-perspective: 150rem
    position: relative
    @include respond(tab-port)
        height: 60rem
    &__side
        height: 50rem
        color: white
        transition: all .7s ease-out
        position: absolute
        top: 0
        left: 0
        width: 100%
        backface-visibility: hidden
        box-shadow: $box-shadow
        border-radius: .3rem
        overflow: hidden
        @include respond(tab-port)
            height: 60rem
        &_front
            background: $color-white
        &_back
            background: linear-gradient(120deg, rgba($color-brown-light, 1) 0.03%, rgba($color-brown-darck, 1) 99.94%)
            transform: rotateY(180deg)
    &:hover &__side_front
        transform: rotateY(-180deg)
    &:hover &__side_back
        transform: rotateY(0deg)
    &__img
        background-blend-mode: hard-light
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
        height: 21rem
        border-radius: .3rem
        @include respond(tab-port)
            height: 30rem
        &_1
            background: $color-brown-light url(../img/tour-card-1.jpg) center / cover no-repeat
        &_2
            background: $color-brown-light url(../img/tour-card-2.jpg) center / cover no-repeat
        &_3
            background: $color-brown-light url(../img/tour-card-3.jpg) center / cover no-repeat
    &__title
        text-align: right
        text-transform: uppercase
        position: absolute
        right: 0rem
        top: 17rem
        font-weight: 100
        font-size: 2.8rem
        line-height: 3.4rem
        letter-spacing: .2rem
        @include respond(tab-port)
            top: 25rem
            font-size: 3.8rem
    &__span
        background: linear-gradient(90deg, rgba($color-brown-light, 1) 0.03%, rgba($color-brown-darck, 1) 99.94%)
        padding: 1rem 2rem
        &_1
            padding-bottom: 0rem
        &_2
            position: absolute
            top: 3.3rem
            right: 0rem
            padding-top: 0rem
            @include respond(tab-port)
                top: 3.8rem
    &__desc
        ul
            list-style: none
            margin: 0 auto
            width: 90%
            text-align: center
            @include respond(tab-port)
                width: 70%
            li
                display: inline-block
                color: $color-grey
                font-size: 1.6rem
                line-height: 1.9rem
                letter-spacing: .2rem
                border-bottom: .1rem solid $color-grey
                &:not(:last-child)
                    margin-bottom: 2rem
                @include respond(tab-land)
                    font-size: 1.5rem
                @include respond(tab-port)
                    font-size: 2rem
    &__backSide-box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__text
        margin-bottom: 8rem
        text-transform: uppercase
        text-align: center
        &_1
            font-size: 1.6rem
            line-height: 1.9rem
            letter-spacing: .2rem
        &_2
            font-weight: 500
            font-size: 6rem
            line-height: 7.2rem
            letter-spacing: .2rem
